.NewData {
  border: #bababa solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  width: 50%;
  padding: 20px;
  margin: 100px auto 0 auto;
  background-color: #fef9f4;
}

.NewData > div {
  color: #d77a61;
  font-size: 20px;
}

.title {
  margin-bottom: 40px;
}

span {
  color: #d77a61;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: thin solid;
  font-size: 16px;
  color: #575757;
}
